{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Customer Details</h3>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-primary btn-block" type="submit">Save Details</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
