{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Dish Image -->
        <div class="col-md-6 mb-4">
            {% if dish.image %}
                <img src="{{ dish.image.url }}" alt="{{ dish.name }}" class="img-fluid rounded" aria-label="{{ dish.name }} Image">
            {% endif %}
        </div>
        <!-- Dish Details Card -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title" aria-label="{{ dish.name }} Title">{{ dish.name }}</h1>
                    <p class="card-text"><strong>Category:</strong> <span aria-label="Dish Category">{{ dish.categories }}</span></p>
                    <p class="card-text"><strong>Description:</strong> <span aria-label="Dish Description">{{ dish.description|linebreaksbr }}</span></p>
                    <p class="card-text"><strong>Price:</strong> <span aria-label="Dish Price">${{ dish.price }}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
