{% extends "base.html" %}
{% load static %}

{% block navbar %}

<div class="container-home">
    <a class="navbar-brand-home" href="{% url 'menu' %}" aria-label="Go to Menu Page">TastyBites</a>
</div>

{% endblock %}

{% block content %}

<div class="background-image">
    <div class="overlay"></div>
    <div class="content">
        <h1 class="title" aria-label="Welcome to Tasty Bites">Welcome to Tasty Bites</h1>
        <p class="description">Discover a world of delicious flavors.</p>
        <a href="{% url 'menu' %}" class="btn" aria-label="Explore Our Menu">Explore Our Menu</a>
    </div>
</div>

{% endblock %}
