{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0B0B0B;">
  <div class="container">
      <a class="navbar-brand" href="#">TastyBites</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#" style="color: #EEEBD0;">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'menu' %}" style="color: #CC2936;">Menu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #EEEBD0;">Contact Us</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}" style="color: #EEEBD0;">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_signup' %}" style="color: #EEEBD0;">Register</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}" style="color: #EEEBD0;">Login</a>
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
