{% extends "base.html" %}

{% block content %}
  <h1>Order Confirmation</h1>

  <h2>Your Order Details:</h2>
  <ul>
    {% for dish in selected_dishes %}
      <li>{{ dish.name }} - ${{ dish.price }}</li>
    {% endfor %}
  </ul>

  <h2>Customer Details for Delivery:</h2>
  <p>Name: {{ order.name.name }}</p>
  <p>Email: {{ order.name.email }}</p>
  <p>Street: {{ order.street }}</p>
  <p>City: {{ order.city }}</p>
  <p>State: {{ order.state }}</p>
  <p>Zipcode: {{ order.zipcode }}</p>

  <h2>Total Price: ${{ order.total_price }}</h2>
  

{% endblock %}
