{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        {% if selected_dishes %}
        <div class="card-body">
          <h1 class="card-title card-heading">Order Details</h1>

          <h4>Your Order Summary:</h4>
          <ul>
            {% for dish in selected_dishes %}
            <li>{{ dish.name }} - ${{ dish.price }}</li>
            {% endfor %}
          </ul>

          <h4>Total Price: ${{ order.total_price }}</h4>
          <a href="{% url 'menu' %}">
            <button>Update Order</button>
          </a>
          <!-- Add a form for further actions (e.g., confirming the order) -->
          <form method="post" action="{% url 'order-confirmation' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Confirm Order</button>
          </form>
        </div>
        {% else %}
        <div class="card-body">
          <h1 class="card-title card-heading">Your Cart is Empty</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title card-heading">Delivery Information</h1>
          <p><strong>Name:</strong> {{ order.name }}</p>
          <p><strong>Email:</strong> {{ order.email }}</p>
          <p><strong>Street:</strong> {{ order.street }}</p>
          <p><strong>City:</strong> {{ order.city }}</p>
          <p><strong>State:</strong> {{ order.state }}</p>
          <p><strong>Zipcode:</strong> {{ order.zipcode }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
