{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body text-center"> <!-- Center-align all content -->
          <h1 class="card-title">Order Confirmation</h1>

          <h2>Your Order Details:</h2>
          <ul style="list-style: none;">
            {% for dish in selected_dishes %}
            <li>{{ dish.name }} - ${{ dish.price }}</li>
            {% endfor %}
          </ul>

          <h2>Customer Details for Delivery:</h2>
          <p><strong>Name:</strong> {{ order.name.name }}</p>
          <p><strong>Email:</strong> {{ order.name.email }}</p>
          <p><strong>Street:</strong> {{ order.street }}</p>
          <p><strong>City:</strong> {{ order.city }}</p>
          <p><strong>State:</strong> {{ order.state }}</p>
          <p><strong>Zipcode:</strong> {{ order.zipcode }}</p>

          <div class="mt-4"> 
            <h3>Total Price: ${{ order.total_price }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
