{% extends "base.html" %}

{% block content %}
  <h1>Order Details</h1>

  <h2>Selected Items:</h2>
  <ul>
    {% for dish in selected_dishes %}
      <li>{{ dish.name }} - ${{ dish.price }}</li>
    {% endfor %}
  </ul>

  <h2>User Details for Delivery:</h2>
  <p>Name: {{ order.name.name }}</p>
  <p>Email: {{ order.name.email }}</p>
  <p>Street: {{ order.street }}</p>
  <p>City: {{ order.city }}</p>
  <p>State: {{ order.state }}</p>
  <p>Zipcode: {{ order.zipcode }}</p>

  <h2>Total Price: ${{ order.total_price }}</h2>


  
  <!-- Add a form for further actions (e.g., confirming the order) -->
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirm Order</button>
  </form>
{% endblock %}
