{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        {% if selected_dishes %}
        <div class="card-body">
          <h1 class="card-title card-heading">Order Details</h1>

          <h4>Your Order Summary:</h4>
          <ul>
            {% for dish in selected_dishes %}
            <li>{{ dish.name }} - ${{ dish.price }}</li>
            <form method="post" action="{% url 'delete_selected_dishes' dish.id %}">
              {% csrf_token %}
              <button type="submit">Remove</button>
            </form>
            {% endfor %}
          </ul>

          <h4>Total Price: ${{ order.total_price|floatformat:2 }}</h4>
          <div class="row">
            <div class="col-md-6">
              <a href="{% url 'menu' %}" class="btn btn-primary btn-block">Update Order</a>
            </div>
            <div class="col-md-6">
              <form method="post" action="{% url 'order-confirmation' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-block">Confirm Order</button>
              </form>
            </div>
          </div>
        </div>
        {% else %}
        <div class="card-body">
          <h1 class="card-title card-heading">Your Cart is Empty</h1>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-4"> <!-- Added padding -->
        <div class="card-body">
          <h1 class="card-title card-heading">Delivery Information</h1>
          <!-- Apply custom CSS for larger text and center-aligned button -->
          <p class="delivery-info"><strong>Name:</strong> {{ order.name }}</p>
          <p class="delivery-info"><strong>Email:</strong> {{ order.email }}</p>
          <p class="delivery-info"><strong>Street:</strong> {{ order.street }}</p>
          <p class="delivery-info"><strong>City:</strong> {{ order.city }}</p>
          <p class="delivery-info"><strong>State:</strong> {{ order.state }}</p>
          <p class="delivery-info"><strong>Zipcode:</strong> {{ order.zipcode }}</p>
          <div class="text-center">
            <a href="{% url 'customer-details' %}" class="btn btn-info">Update Data</a> <!-- Center-aligned button -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}