{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{% trans "Savor the Flavors with TastyBites" %}</h3>

                    <p class="card-text">
                        {% blocktrans %}
                        Welcome back to TastyBites! To indulge in the finest culinary experiences, please sign in below. If you're new to TastyBites, join us now and embark on a delectable journey.
                        {% endblocktrans %}
                    </p>

                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.login.id_for_label }}" class="form-label">{% trans "Username or Email" %}</label>
                            {{ form.login }}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="form-label">{% trans "Password" %}</label>
                            {{ form.password }}
                        </div>
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="btn btn-signup btn-block" type="submit">{% trans "Sign In" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
